.title {
  color: $color-swamp;

  &--h2 {
    font-size: $font-size-heading-md;
    text-align: center;

    @include for-medium {
      font-size: $font-size-heading-lg;
    }

    @include for-large {
      font-size: $font-size-heading-xl;
    }
  }

  &--h3 {
    font-size: $font-size-heading-sm;

    @include for-medium {
      font-size: $font-size-heading-md;
    }

    @include for-large {
      font-size: $font-size-heading-lg;
    }
  }
}

.small {
  opacity: $opacity-0-9;
  color: $color-swamp;
  font-size: $font-size-label;
}