<card>
  <template #image>
    <div class="card__image_wrapper">
      <img
        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
        :alt="alternativeText"
        class="card__image_wrapper__image"
      />
    </div>
  </template>
  <template>
    <div class="card__content_wrapper">
      <small class="card__content_wrapper__small">{{ number }}</small>
      <h3 class="card__content_wrapper__title">{{ title }}</h3>
      <div class="card__content_wrapper__badges">
        <Badge
          :text="type.text"
          :link="type.link"
          v-for="(type, $key) in types"
          :key="$key"
        />
      </div>
    </div>
  </template>
</card>