<h1>Color Pallete</h1>

<div class="ds-grid">
  <div class="ds-block" style="background-color: #001219; color: white;">
    $color-swamp
  </div>

  <div class="ds-block" style="background-color: #005F73;">
    $color-blue-stone
  </div>

  <div class="ds-block" style="background-color: #0A9396;">
    $color-blue-chill
  </div>

  <div  class="ds-block"style="background-color: #94D2BD;">
    $color-vista-blue
  </div>

  <div  class="ds-block"style="background-color: #E9D8A6;">
    $color-chamois
  </div>

  <div  class="ds-block"style="background-color: #EE9B00;">
    $color-orange-peel
  </div>

  <div  class="ds-block"style="background-color: #CA6702;">
    $color-indochine
  </div>

  <div  class="ds-block"style="background-color: #BB3E03;">
    $color-fire
  </div>

  <div  class="ds-block"style="background-color: #AE2012;">
    $color-tabasco
  </div>
  
  <div  class="ds-block"style="background-color: #9B2226;">
    $color-mexican-red
  </div>
</div>
