<h1>Color Pallete</h1>

<div class="ds-grid">
  <div class="ds-block" style="background-color: #264653; color: white;">
    $color-blue-dianne: <br /><br />
    #264653
  </div>

  <div class="ds-block" style="background-color: #2a9d8f;">
    $color-jungle-green: <br /><br />
    #2a9d8f
  </div>

  <div class="ds-block" style="background-color: #e9c46a;">
    $color-rob-roy: <br /><br />
    #e9c46a
  </div>

  <div  class="ds-block"style="background-color: #f4a261;">
    $color-sandy-brown: <br /><br />
    #f4a261
  </div>

  <div  class="ds-block"style="background-color: #e76f51;">
    $color-burnt-sienna: <br /><br />
    #e76f51
  </div>
</div>
