html {
  scroll-behavior: smooth;
}

body {
  background-color: $color-white;
  font-family: $font-family-base;

  & > * {
    box-sizing: border-box;
  }
}



.container {
  max-width: $container-sm;

  @include for-medium {
    max-width: $container-md;
  }

  @include for-large {
    max-width: $container-lg;
  }

  @include for-extra-large {
    max-width: $container-xl;
  }

  @include for-double-extra-large {
    max-width: $container-xxl;
  }
}
