@mixin for-medium {
  @media screen and (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin for-large {
  @media screen and (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin for-extra-large {
  @media screen and (min-width: $breakpoint-xl) {
    @content;
  }
}

@mixin for-double-extra-large {
  @media screen and (min-width: $breakpoint-xxl) {
    @content;
  }
}

// https://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/
@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
