$font-family-base: 'Roboto', sans-serif;

// https://getbootstrap.com/docs/5.0/layout/breakpoints/
$breakpoint-md: rem(768px);
$breakpoint-lg: rem(992px);
$breakpoint-xl: rem(1200px);
$breakpoint-xxl: rem(1400px);


$color-black: #000000;
$color-white: #FFFFFF;

// https://chir.ag/projects/name-that-color
// https://coolors.co/001219-005f73-0a9396-94d2bd-e9d8a6-ee9b00-ca6702-bb3e03-ae2012-9b2226

$color-swamp: #001219;
$color-blue-stone: #005F73;
$color-blue-chill: #0A9396;
$color-vista-blue: #94D2BD;
$color-chamois: #E9D8A6;
$color-orange-peel: #EE9B00;
$color-indochine: #CA6702;
$color-fire: #BB3E03;
$color-tabasco: #AE2012;
$color-mexican-red: #9B2226;

//https://getbootstrap.com/docs/5.0/layout/containers/
$container-sm: rem(540px);
$container-md: rem(720px);
$container-lg: rem(960px);
$container-xl: rem(1140px);
$container-xxl: rem(1320px);

// https://learnui.design/blog/mobile-desktop-website-font-size-guidelines.html
$font-size-heading-xs: rem(20px);
$font-size-heading-sm: rem(24px);
$font-size-heading-md: rem(28px);
$font-size-heading-lg: rem(32px);
$font-size-heading-xl: rem(36px);
$font-size-heading-xxl: rem(48px);
$font-size-base: rem(16px);
$font-size-seconadry: rem(14px);
$font-size-label: rem(12px);

$opacity-0-7: 0.7;
$opacity-0-9: 0.9;
$opacity-1-0: 1;

$margin-bottom-xs: rem(8px);
$margin-bottom-sm: rem(16px);
$margin-bottom-md: rem(32px);
$margin-bottom-lg: rem(48px);

$gutter-sm: rem(8px);
$gutter-md: rem(12px);
$gutter-lg: rem(16px);
$gutter-xl: rem(20px);
$gutter-xxl: rem(24px);

$border-radius-xs: rem(4px);
$border-radius-sm: rem(8px);
$border-radius-md: rem(16px);
$border-radius-lg: rem(32px);
$border-radius-xl: rem(32px);

$items-per-row-sm: 2;
$items-per-row-md: 3;
$items-per-row-lg: 4;
$items-per-row-xl: 5;
$items-per-row-xxl: 5;


$pokemon-type-bug: #A6B91A;
$pokemon-type-dark: #705746;
$pokemon-type-dragon: #6F35FC;
$pokemon-type-electric: #F7D02C;
$pokemon-type-fairy: #D685AD;
$pokemon-type-fight: #C22E28;
$pokemon-type-fire: #EE8130;
$pokemon-type-flying: #A98FF3;
$pokemon-type-ghost: #735797;
$pokemon-type-grass: #7AC74C;
$pokemon-type-ground: #E2BF65;
$pokemon-type-ice: #96D9D6;
$pokemon-type-normal: #A8A77A;
$pokemon-type-poison: #A33EA1;
$pokemon-type-psychic: #F95587;
$pokemon-type-rock: #B6A136;
$pokemon-type-steel: #B7B7CE;
$pokemon-type-water: #6390F0;
