<div class="banner" v-animate-on-scroll>
  <div class="banner__image_wrapper content" tabindex="0">
    <img class="banner__image_wrapper__image" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="{{alternativeText}}" v-lazyload="{{json backgroundImage}}">
  </div>
  <div class="banner__content">
    <h1 class="banner__content__title title title--h1">{{this.title}}</h1>
    <h2 class="banner__content__subtitle subtitle title--h2">{{this.subtitle}}</h2>
  </div>
</div>