<load-more>
  <template>
    <ul class="load-more__content load-more__content--generations">
      <li>
        {{> '@card--generation' merge=true generation="I"}}
      </li>
      <li>
        {{> '@card--generation' merge=true generation="II"}}
      </li>
      <li>
        {{> '@card--generation' merge=true generation="III"}}
      </li>
      <li>
        {{> '@card--generation' merge=true generation="IV"}}
      </li>
      <li>
        {{> '@card--generation' merge=true generation="V"}}
      </li>
      <li>
        {{> '@card--generation' merge=true generation="VI"}}
      </li>
      <li>
        {{> '@card--generation' merge=true generation="VII"}}
      </li>
      <li>
        {{> '@card--generation' merge=true generation="VIII"}}
      </li>
      <li>
        {{> '@card--generation' merge=true generation="IX"}}
      </li>
    </ul>
  </template>
</load-more>